/* Removing default browser style*/
html{
    font-size: 16px;
    height:100%;
    width:100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */

body {
    font-family: 'Onest', sans-serif;
    height: 100%;
    /* width: 100%; */
	display:flex;
    flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Properties*/
/* :root {
} */
/* Actual styling*/

.navbar, .landing-page{
    display:flex;
}

.navbar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 20px;
    
}

.logo h3{
    font-size: 3rem;
}
.landing-page{
    flex: 1 1;
    justify-content: center;
    align-items: center;
}
.landing-card{
    text-align: center;
}

.lp-item-1 h1{
    font-size: 10rem;
    font-weight: 700;
}
.logo a:link{text-decoration: none;}
.logo a:visited{text-decoration: none;}