{% extends "base.html" %}

{% block content %}
<div class="navbar">
    <div class="logo"><h3><a href="{{url_for('index')}}">Histofy</a></h1></div>

    <div class="login">
        {% if login %}
        <h2> Welcome {{login.id}}</h2>
        {% else %}
        <h2><a href="{{url_for('login')}}">Log in</a></h2>
        {% endif %}
    </div>
</div>

<div class="landing-page">
    <div class="landing-card">
        <div class="lp-item-1">
            <h1>Histofy.</h1>
            <h2>Look at your listening history, top tracks and top artists!</h2>
        </div>
        <h3>Powered by <span class="icon-logo"></span></h3>
    </div>
</div>
{% endblock %}